<!DOCTYPE html>
<html ng-app='app'>

<head>
  <meta charset="UTF-8">
  <title>Web scrapper</title>
</head>
<link rel='stylesheet' href='./assets/styles/photon.min.css'></link>
<script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>

<body>

  <div class="window" ng-controller="render as vm">

    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">Сайты для парсинга</h5>
            <a ng-click='loading = true' id='f-ua' class="nav-group-item">
              <span class="icon icon-home"></span>
              f.ua -> для авто
            </a>
          </nav>
        </div>
        <div class="pane" >
          <h3 class="text-center" ng-if='!renderedData && !loading'>Выберите сайт для парсинга</h3>
          <table ng-if='renderedData' class="table-striped">
            <thead>
              <tr>
                <th>Сайт</th>
                <th>Категория</th>
                <th>Название товара</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='data in renderedData'>
                <td><a href="https://www.f.ua">f.ua</a></td>
                <td ng-bind='data.category'></td>
                <td ng-bind='data.item.'></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  // You can also require other files to run in this process
  require('./src/renderer.js')

</script>

</html>