<header ng-if='renderedData || streamData.length' class="site-header navbar-fixed-top toolbar toolbar-header">

    <h1 *ngIf='currentSite && siteOptions[currentSite.name]' class="title">{{currentSite.label}} - Товаров: <span>{{siteOptions[currentSite.name].data.length}}</span></h1>

    <div *ngIf='currentSite && siteOptions[currentSite.name] && siteOptions[currentSite.name].data.length' class="toolbar-actions">
        <button (click)='exportToExcel(currentSite.name)' class="btn btn-xs btn-default">
            <span class="icon icon-home icon-text"></span>
            Експортировать {{currentSite.label}}
        </button>
    </div>

</header>

<header *ngIf='!currentSite' class="site-header navbar-fixed-top toolbar toolbar-header">

    <h1 class="title">Выберите сайт для парсинга</h1>

    <div class="toolbar-actions">

    </div>

</header>

<div class="pane-group">
    <navigation (currentSite)='setCurrentSite($event)' [siteOptions]='siteOptions'></navigation>
    <div class="content-margin-top pane">
        <div *ngIf='currentSite'>
            <f-ua *ngIf='currentSite.name === "fUa"' [loadedData]='site.fUa' (componentData)='setDataToComponentModel($event)'></f-ua>
            <avto-radosti *ngIf='currentSite.name === "avtoRadosti"' data='site.avtoRadosti'></avto-radosti>
        </div>
    </div>
</div>