<header ng-if='renderedData || streamData.length' class="site-header navbar-fixed-top toolbar toolbar-header">

    <h1 class="title">Товаров: <span ng-bind='renderedData.length || streamData.length'></span></h1>

    <div ng-if='renderedData' class="toolbar-actions">
        <button ng-click='exportToExcel()' class="btn btn-xs btn-default">
              <span class="icon icon-home icon-text"></span>
                Експорт в Excel
              </button>
    </div>

</header>

<header ng-if='!renderedData && !streamData.length' class="site-header navbar-fixed-top toolbar toolbar-header">

    <h1 class="title">Выберите сайт для парсинга</h1>

    <div class="toolbar-actions">

    </div>

</header>

<div class="pane-group">
    <div class="content-margin-top pane-sm sidebar">
        <nav class="nav-group">
            <h5 class="nav-group-title">Сайты для парсинга</h5>
            <div ng-repeat='site in sites'>

                <div tooltip-placement="right" uib-tooltip="Загрузка" ng-if='site.parsed === "loading"' class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>

                <a ng-click='loading = true;parse(site.name)' class="nav-group-item">
                    <span tooltip-placement="right" uib-tooltip="Данные отпаршены" ng-if='site.parsed === true' class="icon icon-record" style="color:#34c84a"></span>
                    <span ng-bind='site.label'></span>
                </a>

            </div>
        </nav>
    </div>
    <div class="content-margin-top pane">
        <f-ua></f-ua>
        <avto-radosti></avto-radosti>
    </div>
</div>